.payment-method {
  .card {
    min-height: 50vh;
    margin: auto;

    .card-body {
      form {
        margin: auto;
        max-width: 10rem;

        #paypal-svg {
          height: 2rem;
        }
        #stripe-svg {
          max-height: 2rem;
        }

        #mpesa-svg {
          height: 5rem;
        }

        button {
            background-color: #f09116;
        }
      }
    }
  }
}
