.bannerDiv {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;

    .banner img {
        width: 100%;
        height: 100%;
    }

    .help-center .sidebar-img img {
        width: 100%;
        height: 100%;
    }
}

.categories ul {
    list-style: none;

    li {
        font-size: 1rem;
        line-height: 2.5rem;
    }
}