.top-bar {
  background-color: #fff;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  p {
    margin: 0;
  }

  .search .form-control {
    border: 1px solid rgb(212, 212, 212) !important;
  }

  .search .form-control:focus {
    box-shadow: none !important;
  }

  .search button {
    background-color: #f09116;
  }

  .account {
    a {
      text-decoration: none;
      color: #000;
    }

    span {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 900px) {
  .help {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .top-bar {
     background-color: #f09116;
     position:static;
     width: 100vw;

    .container {
      display: flex;
      justify-content: space-between;

      a {
        color: #fff !important;
      }

      .search {
        display: none;
      }

      .account,
      span {
        display: none;
      }
    }
  }
}
