.container {
  .subscribe {
    .input {
      button:hover {
        border: 1px solid #f09116;
        color: #f09116;
        background-color: transparent;
      }
    }
  }
  .download {
    .download-links {
      .app-store:hover {
        border: 1px solid #f09116 !important;
        color: #f09116;
        background-color: transparent;
        cursor: pointer;
      }
      .app-store small {
        font-size: 12px;
      }
    }
  }
}

.container.email-div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.container.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  ul {
    list-style: none !important;
    font-size: small;
    padding-left: 0;
    margin-top: 1rem;
  }
}

.container.joinus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .container.email-div,
  .container.services,
  .container.joinus {
    display: grid;
    grid-template-columns: auto;
  }
}