.bg {
  background-color: rgb(240, 240, 240);
}

.product {
  .top-div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    .card {
      border: none;
      background-color: #fff !important;
    }

    .product-img {
      .img-col img {
        max-height: 25rem;
        width: auto;
      }

      .product-title {
        .add-to-cart-btn {
          button {
            background-color: #f09116;
          }
        }
      }
    }
  }

  .product-specification {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    .card {
      border: none !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .product .top-div {
    display: block;
  }

  .product-specification {
    display: block !important;
  }
}
